@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.accordion-container {
    width: 80%;
    max-width: 600px;
}

.accordion-item {
    background-color: #000000; /* White background for items */
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Softer shadow */
}

.accordion-header {
    background-color: black; /* Soft purple */
    color: #FFFFFF; /* White text */
    padding: 15px;
    font-size: 18px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease;
}


.accordion-content {
    background-color: #050505; /* Very light grey for content */
    overflow: hidden;
    padding: 0 15px;
    max-height: 0;
    border-radius: 0 0 8px 8px;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    margin: 15px 0;
    line-height: 1.5;
}

.icon {
    transition: transform 0.3s ease;
}


