/* Header.css */

/* Positionierung für die ChangeTheme Komponente */
.brandingColorContainer {
  position: relative;

}

.toggleButton {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  background-color: transparent;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  z-index: 1001;
  border: none;
}


.brandingColorDiv {
  position: absolute;
  top: 40px; /* Anpassen je nach Header Höhe */
  right: 0;
  left: auto;
  transform: translateX(0);
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--branding-color);
  border-radius: 8px;
  padding: 15px;
  z-index: 1000;
  min-width: 200px;
}

.brandingColorDiv.open {
  display: flex;
}

/* Option Container Styling */
.optionsContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.colorOptions {
  display: flex;
  gap: 10px;
}

.colorOption {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

.colorOption.selected {
  border-color: white;
}

.modeOptions {
  display: flex;
  gap: 10px;
  align-items: end;
}


.modeOption {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  border: 2px solid transparent;
}

.modeOption.selected {
  background-color: var(--branding-color-hover);
  border-color: var(--text-color);
}

.modeOption:hover {
  background-color: var(--branding-color-hover);
  transform: scale(1.05);
}

.mode-icon {
  width: 20px;
  height: 20px;
}

/* Stil für den Slider-Track mit dynamischem Hintergrund */
.results-per-page-slider input[type="range"] {
  -webkit-appearance: none; /* Entfernt das Standard-Aussehen in WebKit-Browsern */
  width: 150px;
  height: 8px;
  border-radius: 5px;
  outline: none;
  margin: 0;
  padding: 0;
  margin-top: 5px !important;
  margin-bottom: 5px !important;
  /* Der Hintergrund wird nun dynamisch über Inline-Stile gesetzt */
}

/* Stil für den Slider-Thumb in WebKit-Browsern (Chrome, Safari) */
.results-per-page-slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #535bf2; /* Blaue Farbe für den Daumen */
  cursor: pointer;
  border-radius: 50%;
  border: none;
  margin-top: -6px; /* Zentriert den Daumen vertikal */
}

/* Stil für den Slider-Thumb in Mozilla Firefox */
.results-per-page-slider input[type="range"]::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #535bf2; /* Blaue Farbe für den Daumen */
  cursor: pointer;
  border-radius: 50%;
  border: none;
}

.results-per-page-slider input[type="range"]::-moz-range-thumb:hover {
  background: #404375; /* Optional: Farbe beim Hover */
}

/* Entferne die Standard-Track-Stile in Firefox */
.results-per-page-slider input[type="range"]::-moz-range-track {
  height: 8px;
  border-radius: 5px;
  background: transparent; /* Hintergrund wird durch den Gradient ersetzt */
}

.results-per-page-slider input[type="range"]::-webkit-slider-runnable-track {
  background: transparent; /* Hintergrund wird durch den Gradient ersetzt */
  height: 8px;
  border-radius: 5px;
}



/* Responsive Anpassungen */
@media (max-width: 768px) {
  .brandingColorContainer {
    margin-left: 10px;
  }

  .brandingColorDiv {
    top: 50px;
    right: 10px;
  }
}
