.collection-nfts {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%; /* Ensure it doesn't exceed its parent's width */
    overflow-x: hidden; /* Hide horizontal overflow if any */
}

    .CollectionBanner {
    width: 95%;
    border-radius: 15px;
    height: 400px; /* oder wie groß du es haben möchtest */
    background-size: cover;
    background-position: center;
    box-shadow: var(--card-box-shadow);
    }

  .bannerInfo {
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    top: 18%;
    background-color: rgba(0, 0, 0, 0.714);
    padding: 20px;
    border-radius: 15px;
    }


  

.nft-list {
    width: 100%;
}

.NFT-Collection-Div {
    display: grid;
    /* grid-template-columns: repeat(auto-fill, minmax(280px, 0fr)); */
    grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
    max-width: 100%; /* Limit its maximum width */
    min-width: 100%;
    gap: 10px;
}

.nft-card {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    border-radius: 10px;
    padding: 10px 10px 0 10px;
    width: 250px;
}

.owner-note {
    color: var(--branding-color);
    font-weight: bold;
}

.CollectionDescription {
    width: 100%;
    margin-bottom: 40px;
}


.collection-stats {
    border: none;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.splitter {
    border: 1px solid rgba(255, 255, 255, 0.466);
    height: 35px;
}

.collection-stats-div p {
    margin-top: 0px;
  margin-bottom: 0px;
  color: var(--text-color);
  opacity: 70%;
}

.collection-stats-div {
    padding: 10px 20px;
  background-color: var(--card-background-color);
  border-radius: 10px;
  box-shadow: var(--card-box-shadow);
}



.floorpricediv {
    display: flex;
    align-items: center;
    justify-content: center;
}

.floorpricedivcard {
    display: flex;
    align-items: center;
    margin-top: 16px;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0px;
}

.floorpricediv img,
.floorpricedivcard img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px !important;
    margin-right: 3px;
    width: auto;
}

.SearchandFilterDiv {
    display: flex;
    align-items: flex-start;
    width: 20%;
    margin-bottom: 10px;
    margin-top: 75px;
    margin-left: 1%;
}

.loading-container {
    width: 300px;
}


.all-nfts {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.WallMode-toggle {
    margin-top: 5px;
    margin-left: 20px;
}

.react-toggle-track {
    background-color: black;
}

.react-toggle-thumb {
    background-color: var(--branding-color);
    border: none;
}

.MapModeText {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 800;
    display: flex;
    align-items: center;
}

.no-nfts-container img{
    width: 250px;
    height: auto;
}

.custom-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0px;
    padding: 10px;
    background-color: transparent;
    border-radius: 8px;
    font-family: 'Arial', sans-serif;
    color: white;
}

.custom-pagination-btn {
    padding: 6px 14px;
    border: none;
    background-color: var(--branding-color);
    color: white;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.custom-pagination-btn:disabled {
    opacity: 30%;
    cursor: not-allowed;
}

.custom-pagination-btn:hover:not(:disabled) {
    background-color: var(--branding-color-hover);
}

.previous-btn {
    margin-right: 20px;
}

.next-btn {
    margin-left: 20px;
}

.custom-pagination-info {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.575);
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-pagination-info img {
    height: 20px !important;
    width: 20px !important;
    margin-left: 10px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
}

.custom-pagination-info-2 img {
    height: 15px !important;
    width: 15px !important;
    margin-left: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding: 0px !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-bar-container {
    position: relative;
    width: 95%;
    height: 5px;
    background-color: #5d5d5d79;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: var(--branding-color);
    width: 0;
    transition: width 0.3s ease;
}

.progress-text {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 0;
    left: 0;
    line-height: 20px;
    font-size: 12px;
    color: #000;
}




@media (max-width: 768px) {

    .CollectionDetail-mediaDiv {
        flex-direction: column;
    }

    .collection-nfts {
        display: flex;
        justify-content: center;
        margin-top: 0px;
        width: 100%;
    }

    .CollectionBanner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    }

    .bannerInfo {
        top: auto;
        width: 100%;
        display: flex;
        padding: 8px 0px;
        height: auto;
    }

    .CollectionDescription {
        width: 80%;
    }

    .collection-stats {
        width: 80%;
    }

    .NFT-Collection-Div {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .ml0-media {
        margin-left: 0px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .SearchandFilterDiv {
        width: 0px;
        margin-top: 20px;
    }
}