.collection-detail-card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--card-background-color);
  width: 220px;
  color: white;
  transition: all 0.25s;
}

.collection-detail-card:hover {
  transform: scale(1.01);
}

.collection-detail-card:active {
  transform: scale(0.95) rotateZ(1.1deg);
}

.nft-image-container {
  height: auto; /* Beispielhafte Höhe für das Bildcontainer */
  width: 200px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  border-radius: 5px;
}

.placeholder-image-loading-gif {
  width: 250px !important;
  height: 250px !important;
}

.price-container {
  height: 25px;
  margin-top: 10px;
}

.nft-image {
  width: 270px;
  height: auto;
  object-fit: cover; /* Ändern Sie 'contain' zu 'cover' */
}

.card-details {
  padding-top: 5px;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-bottom: 10px;
  width: 90%;
}

.card-details h3{
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 10px;
  }

.card-details a{
    text-decoration: none;
  }

.currency-icon {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

.not-listed {
    margin-bottom: 5px;
}

.forsalebadge {
    position: absolute;
    background-color: var(--branding-color);
    border-radius: 5px;
    padding: 5px 12px;
    margin-top: 5px;
    margin-right: 120px;
    font: inherit;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 99;
}

.owner-note h3 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(133, 133, 133, 0.412) !important;
  margin-top: 0px;
  padding-bottom: 10px;
}

.not-listedtext {
  color: grey !important;
}