@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.accordion-filterContainer {
    width: 110%;
}

.accordion-item {
    background-color: var(--card-background-color);
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: var(--card-box-shadow);
    color: var(--text-color);
}

.accordion-header {
    background-color: var(--card-background-color);
    color: var(--text-color);
    padding: 15px;
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px !important;
    transition: background-color 0.3s ease;
}


.accordion-filterContent {
    background-color: var(--card-background-color);
    color: var(--text-color);
    overflow: hidden;
    padding: 0 15px 0px 15px;
    max-height: 0;
    border-radius: 0 0 8px 8px;
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column;
    transition: max-height 0.3s ease;
}

.checkbox-label {
    display: block;
    margin: 15px 0;
    color: var(--text-color);
}

.icon {
    transition: transform 0.3s ease;
}







/* Verstecke das Standard-Checkbox-Design */
.checkbox-label input[type="checkbox"],
.radio-label input[type="radio"] {
    display: none; /* Versteckt die Standard-Checkbox/Radio */
}

/* Style für die benutzerdefinierte Checkbox und Radio */
.checkbox-label,
.radio-label {
    position: relative;
    padding-left: 30px; /* Platz für das benutzerdefinierte Häkchen */
    cursor: pointer;
    display: inline-block;
    color: var(--text-color);
    line-height: 20px; /* Zeilenhöhe anpassen, um das Häkchen vertikal zu zentrieren */
}

.custom-checkbox,
.custom-radio {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    border: 2px solid var(--text-color); /* Rahmenfarbe */
    background-color: var(--card-background-color);
    border-radius: 4px; /* Ecken abrunden für Checkbox */
}

/* Spezifische Styles für Radio-Buttons */
.custom-radio {
    border-radius: 50%; /* Runde Form für Radio-Buttons */
}

/* Häkchen (Checkmark) sichtbar, wenn Checkbox/Radio aktiviert ist */
.checkbox-label input[type="checkbox"]:checked + .custom-checkbox,
.radio-label input[type="radio"]:checked + .custom-radio {
    background-color: var(--branding-color); /* Hintergrundfarbe des aktivierten Häkchens */
    border-color: var(--branding-color); /* Rahmenfarbe des aktivierten Häkchens */
}

/* Häkchen für Checkbox und Radio */
.custom-checkbox::after,
.custom-radio::after {
    content: '✔'; /* Das Häkchen-Symbol */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #000000; /* Häkchenfarbe */
    font-size: 12px; /* Größe des Häkchens */
    line-height: 0; /* Zeilenhöhe auf 0 setzen, um es präzise zu positionieren */
    opacity: 0; /* Standardmäßig versteckt */
    transition: opacity 0.2s ease;
}

/* Sichtbares Häkchen, wenn aktiviert */
.checkbox-label input[type="checkbox"]:checked + .custom-checkbox::after,
.radio-label input[type="radio"]:checked + .custom-radio::after {
    opacity: 1;
}

.radio-label {
    margin: 15px 0;
}


@media (max-width: 768px) {
.accordion-filterContent {
    padding: 0px 10px;
    max-height: 0;
}

.accordion-header {
    border-radius: 8px !important;
    height: 35px;
}

.accordion-filterContainer {
    width: 100%;
}
}