.fairlaunch-nft-list {
  max-width: 93%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr)); /* Flexible Grid-Spalten */
  gap: 10px; /* Abstand zwischen den Karten */
  justify-content: center; /* Zentrieren des Grids innerhalb des Containers */
  padding-top: 10px; /* Innenabstand um das Grid herum */
}

.Mint-Info {
  margin-top: 35px;
  height: 500px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Mint-Info img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Mint-info-text {
  background-color: rgba(0, 0, 0, 0.714);
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  width: 50%;
  position: absolute;
  transform: translateX(150%);
  left: -50%;
  top: 250px;
}

.currency-icon-Mint img {
  width: 25px;
  height: auto;
  margin-left: 5px;
}

.Mint-DetailDiv {
  border-radius: 15px;
}



.Mint-Info-UnderDiv {
  background-color: black;
  padding: 20px;
  border-radius: 10px;
  height: 460px;
  margin-left: 35px;
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.TokenDetails img {
  height: 75px;
  width: auto;
}





.image-container-mint {
  position: relative;
  width: auto;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.FullImageDiv {
  width: auto;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.OverlayImage {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: 100%;

  transition: opacity 0.3s ease-in-out;
}

.OverlayImage.hidden {
  opacity: 0;
  pointer-events: none;
}

.OverlayImage.visible {
  opacity: 1;
  pointer-events: auto;
}

/* Switch Styling */
.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
  width: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--branding-color);
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.listinginput-mint {
  color: #fff;
  background-color: rgb(28,28,30);
  box-shadow: 0 0 .4vw rgba(0,0,0,0.5), 0 0 0 .15vw transparent;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 10px;
  max-width: 50px;
  transition: .4s;
}

.listinginput-mint :hover {
  box-shadow: 0 0 0 .15vw rgba(135, 207, 235, 0.186);
}

.listinginput-mint :focus {
  box-shadow: 0 0 0 .15vw skyblue;
}

.quantity-container {
  display: flex;
  align-items: center;
}

.quantity-button {
  background-color: transparent;
  border: none;
  color: white;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 22px;
  margin: 0 5px;
}

.mint-Button {
background-color: var(--branding-color);
color: white;
width: 100%;
border-radius: 20px;
border: none;
padding: 15px;
margin-top: 20px;
transition: background-color 0.2s ease;
}

.mint-Button:hover {
background-color: var(--branding-color-hover);
}

.mint-Button.disabled {
  background-color: var(--branding-color); /* Behalte den Standard-Hintergrund bei */
  opacity: 0.5; /* Transparenz für den deaktivierten Zustand */
  cursor: not-allowed !important;
}

.maxperwallet {
  border: 1px solid rgba(255, 255, 255, 0.627);
  padding: 7px 12px;
  border-radius: 20px;
  width: fit-content;
}