@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.accordion-container-home {
    width: 60%;
}

.accordion-item {
    background-color: var(--card-background-color);
    border-radius: 8px;
    margin-bottom: 10px;
    box-shadow: var(--card-box-shadow);
    color: var(--text-color);
}

.accordion-header {
    background-color: var(--card-background-color);
    color: var(--text-color);
    padding: 15px;
    font-size: 18px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px 8px 0 0;
    transition: background-color 0.3s ease;
}

.accordion-header:hover {
    background-color: var(--branding-color-hover); /* Soft purple */
}


.accordion-content {
    background-color: var(--card-background-color);
    overflow: hidden;
    padding: 0 15px;
    max-height: 0;
    border-radius: 0 0 8px 8px;
    transition: max-height 0.3s ease;
}

.accordion-content p {
    margin: 15px 0;
    line-height: 1.5;
}

.icon {
    transition: transform 0.3s ease;
}


