/* Gemeinsame Stile für Desktop und mobile Version */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: #fff;
  width: 95%; 
  border-radius: 15px;
  margin-top: 15px;
  position: relative; /* Für mobile Menü Positionierung */
}

.title {
  margin: 0;
}

.logo {
  height: 60px;
}

.nav-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.hamburger {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1000;
}

.hamburger .bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
  transition: 0.3s;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  flex: 1;
  align-items: center;
}

.nav-link {
  margin: 0 15px;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.button {
  padding: 8px 20px;
  background-color: var(--branding-color);
  color: #fff;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--branding-color-hover);
}

.button-disconnect {
  background-color: transparent;
  padding: 20px 10px;
  color: white;
  border: none;
  width: 200px;
  text-align: left;
  font: inherit;
}

.dropdown-hover {
  background-color: transparent;
  padding: 20px 10px;
  color: white;
  border: none;
  width: auto;
  text-align: left;
  font: inherit;
}

.account {
  display: inline-block;
  margin-right: 10px;
}

.connected-container {
  position: relative;
  cursor: pointer;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 10%;
  background-color: black;
  border-radius: 5px;
  z-index: 10;
  width: 200px;
}

.dropdown-link {
  display: block;
  color: white;
  text-decoration: none;
  padding: 21px 10px;
}

.dropdown-hover:hover {
  background-color: var(--branding-color);
  border-radius: 5px 5px 0 0;
}

.dropdown-hover:hover a{
  color: white;
  text-decoration: none;
  border: none;
}

.button-disconnect:hover {
  background-color: var(--branding-color);
  border-radius: 0 0 5px 5px;
  cursor: pointer;
}

.button-change-network {
  background-color: transparent;
  padding: 20px 10px;
  color: white;
  border: none;
  width: 200px;
  text-align: left;
  font: inherit;
}

.button-change-network:hover {
  background-color: var(--branding-color);
  cursor: pointer;
}

.PFPImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.connected-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.network {
  margin-right: 30px;
}

.network-iconDiv {
  width: 25px;
  height: auto;
  overflow: hidden;
  margin-right: 5px;
}

.network-container {
  display: flex;
  align-items: center;
}

.ml200 {
  margin-left: 20%;
}


@media (max-width: 768px) {

  .navbar {
    width: 100%;
    margin-top: 0px;
    border-radius: 0px;
  }

.nav-links {
  display: flex;
}

.nav-container {
  display: flex;
  justify-content: space-between;
}

.ml200 {
  margin-left: 0px;
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
}

.burder-account-network {
  width: 90%;
  justify-content: space-between;
  padding-bottom: 10px;
}

.connected-container {
  margin-left: 25px;
}

.nav-links.active {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px; /* Position unterhalb des Logos */
  right: 0;
  width: 100%;
  background-color: black;
  border-radius: 0 0 15px 15px;
  padding: 10px 0;
  z-index: 9999;
}

.nav-links .nav-link {
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.nav-links .nav-link:hover {
  background-color: var(--branding-color);
}

.hamburger {
  display: block;
}


  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-links {
    display: none; /* Verstecke Links standardmäßig */
  }
}
