
.nft-list-my {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 0fr));
    max-width: 100%;
    gap: 10px;
    justify-content: left;
    margin-top: 10px;
}

.loading-gif {
    height: 100px !important;
    width: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.artistmynfts {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.484);
    width: 100%;
}

.my-nfts {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.my-nft-card a,
.user-nft-card a{
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-nft-card,
.user-nft-card {
    background-color: var(--card-background-color);
  box-shadow: var(--card-box-shadow);
    margin: 0px;
    padding: 10px;
    width: 200px;
    border-radius: 10px;
    transition: all 0.25s;
}


.my-nft-card h3,
.user-nft-card h3{
    margin-top: 10px;
}

.my-nft-card:hover,
.user-nft-card:hover {
    transform: scale(1.01);
  }
  
  .my-nft-card:active,
  .user-nft-card:active {
    transform: scale(0.95) rotateZ(1.1deg);
  }

.my-nft-image {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
}

.my-nft-image img{
    width: 200px;
    height: auto;
}

.my-nftListed {
    color: var(--branding-color);
}

.user-name-section {
    width: 110%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.ChangeNamebutton,
.SetArtistWalletButton,
.CreatePollButton,
.ChangeProfilePicturebutton,
.PauseToggleButton,
.CreateBlogButton,
.SubmitCollectionButton {
    background-color: var(--branding-color);
    font-family: 'Josefin Sans', sans-serif !important;
    border: none;
    color: white;
    padding: 10px 15px;
    font: inherit;
    border-radius: 20px;
    margin-bottom: 15px;
    transition: background-color 0.2s ease;
}


.ChangeNamebutton:hover,
.ChangeProfilePicturebutton:hover,
.CreatePollButton:hover,
.SetArtistWalletButton:hover,
.CreateBlogButton:hover,
.SubmitCollectionButton:hover {
    background-color: var(--branding-color-hover);
}

.b-top {
    border: 1px solid rgba(128, 128, 128, 0.584);
}

.UserData {
    display: flex;
    height: auto;
}

.ProfilePicture {
    display:flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 15px;
}

.ProfilePicture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nft-selection {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 40px;
    overflow: auto;
    width: 100%;
    justify-items: center;
    align-items: center;
}

.NFT-item img{
    width: 100%;
    height: 100%;
    cursor: pointer;
    object-fit: cover;
}

.profile-picture-section img {
    height: 50px;
    width: auto;
}

.ProfileBannerDiv {
    width: 95%;
    height: 500px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--card-box-shadow);
}

.ProfileBannerDiv img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.ProfileBanner {
    width: 100%;
    height: 500px;
}

.My-nft-details-Div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.My-nft-details-Div h3{
    Margin-bottom: 10px;
    margin-top: 0px;
}

.My-nft-details-Div p{
    Margin-bottom: 5px;
    margin-top: 10px;
    color: rgba(128, 128, 128, 0.786) !important;
    font-size: 16px;
}

.onlymedia {
    display: none;
}

.social-media-links {
    background-color: var(--card-background-color);
    margin-left: 11%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
}

.social-icon {
    width: 35px !important;
    height: auto;
}

.menu-myaccount {
 width: 100%;
 text-align: left;
 display: flex;
 align-items: center;
 margin-top: 10px;
 gap: 10px;
}

.menu-myaccount button{
    height: 50px;
    width: 150px;
    border-radius: 10px;
    border: none;
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
    display: flex;
    align-items: center;
    justify-content: center;
}



@media (max-width: 768px) {
    .myNFTMainDivMedia {
        flex-direction: column;
    }

    .user-name-section {
        width: 100%;
    }

    .ButtonandFilterMedia {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mediacenter {
        justify-content: center;
    }

    .social-media-links {
        width: 75%;
        padding: 10px;
        margin: 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        border-radius: 50px;
        margin-bottom: 15px;
    }

    .ProfilePicture {
        margin-bottom: 5px;
    }

    .w100media {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
    }

    .onlymedia {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .OnlyDesktop {
        display: none;
    }

    .myNFTMainDivMedia {
        margin-top: 10px;
    }

    .nft-list-my {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        /* text-align: center; */
        flex-wrap: wrap;
        justify-content: center;
    }

    .my-nfts {
        margin-top: 10px;
    }

    .ProfileBannerDiv {
        height: 300px;
    }

    .mt5media {
        margin-top: 5px;
    }
}