.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: 80%;
  }
  
  .text-section, .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  
  .image-section img {
    max-width: 50%;
    height: auto;
  }

  @media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .centeredmediaD {
        text-align: center;
    }

    .image-section img {
        max-width: 70% !important;
        height: auto;
    }

    .containerSupport {
        margin-top: 0px !important;
    }

    .wnone {
        width: 100%;
    }
  }
  