/* Bestehendes CSS */

/* Allgemeine Stile für die NFT Drop Page */
.nft-drop-page {
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: transparent;
    padding: 20px;
    text-align: center;
    display: flex;
    gap: 20px;
}

.drop-page-mintSection {
    width: 90%;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.drop-page-mintSection-2 {
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
    padding: 20px;
    border-radius: 10px;
}

.drop-page-mintSection-3 {
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
    padding: 20px;
    border-radius: 10px;
    width: 70%;
    height: 100%;
}

.drop-mint-header {
    margin-bottom: 40px;
}

.drop-mint-header span {
    font-size: 18px !important;
}

.stats {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.statsdiv {
    text-align: left;
    padding: 10px;
    border-radius: 10px;
}

.fit-content {
    width: fit-content;
}

.drop-page-imgDiv {
    width: 95%;
    height: 95%;
}

.drop-page-videoDiv {
    width: 95%;
    height: 95%;
    border-radius: 10px;
    overflow: hidden;
}

.drop-page-img {
    width: 90%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--card-box-shadow);
}

.drop-page-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.stats span {
    display: block;
    font-weight: bold;
    color: #ccc;
}

.stats p {
    font-size: 1.5rem;
    margin-top: 10px;
}

.mint-button-drop {
    background-color: var(--text-color);
    padding: 15px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}

.mint-button-drop h3 {
    color: var(--text-color-reverse) !important;
    margin: 5px;
}

.mint-button-drop:hover {
    background-color: var(--branding-color);
}

.mint-section {
    margin-bottom: 20px;
}

.mint-section label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #bbb;
}

.mint-section input {
    padding: 15px;
    width: 60px;
    font-size: 1rem;
    border-radius: 5px;
}

.footerMintDiv {
    color: #ff4c4c;
    margin-top: 0px;
    text-align: center;
}

.footerMintDiv p {
    margin: 0;
}

.plbenefits {
    margin-left: 10%;
}

.mitbuttonamountSection {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mint-button-2 {
    background-color: var(--text-color);
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 50px;
}

.mint-button-2 h3 {
    color: var(--text-color-reverse) !important;
}

.mint-button-2:hover {
    background-color: var(--branding-color);
}

.mint-section-2 input {
    height: 46px;
    width: 60px;
    font-size: 1rem;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    background-color: var(--text-color);
    color: var(--text-color-reverse) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.PlatinumDropBanner {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Optional */
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35); /* Schwarze Farbe mit 35% Deckkraft */
    z-index: 1;
}

.nft-drop-page {
    position: relative;
    z-index: 2;
    /* Weitere Stile */
}

/* Media Queries für Mobile */

/* Mobile Styles */
@media (max-width: 768px) {

    .nft-drop-page {
        flex-direction: column;
        padding: 10px;
        gap: 10px;
        max-width: 100%;
        overflow: hidden;
    }
    
    .drop-page-mintSection {
        padding: 0px;
    }

    .drop-page-mintSection-2 {
        padding: 15px;
        margin-bottom: 20px;
    }

    .drop-page-mintSection,
    .drop-page-mintSection-2,
    .drop-page-mintSection-3 {
        width: 95%;
        padding: 15px;
        max-width: 100%;
        overflow: hidden;
    }

    .drop-mint-header h1 {
        font-size: 1.5rem;
        margin-bottom: 20px;
    }

    .drop-mint-header span {
        font-size: 1rem;
    }

    .stats {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .statsdiv {
        width: 100%;
        margin-bottom: 0px;
    }

    .mint-button-drop,
    .mint-button-2 {
        width: 100%;
        padding: 10px;
        font-size: 1rem;
    }

    .mint-section input {
        width: 100%;
        padding: 10px;
    }

    .footerMintDiv {
        margin-top: 10px;
    }

    .drop-page-imgDiv,
    .drop-page-videoDiv {
        width: 100%;
        height: auto;
    }

    .drop-page-img,
    .drop-page-video {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .PlatinumDropBanner {
        height: auto !important;
        padding: 20px 0;
    }

    .accordionPadding {
        padding: 22px;
    }


    /* Weitere spezifische Anpassungen */
    .stats span {
        font-size: 1rem;
    }

    .stats p {
        font-size: 1.2rem;
        margin-top: 5px;
    }

    .plbenefits {
        margin-left: 0;
    }

    .mint-section label {
        font-size: 1rem;
    }

    /* Video-Anpassungen */
    .drop-page-video {
        object-fit: contain;
    }

    .aligncentermedia h2{
        text-align: center;
    }
}

/* Zusätzliche Media Queries für kleinere Bildschirme */
@media (max-width: 600px) {
    .drop-mint-header h1 {
        font-size: 1.3rem;
    }

    .drop-mint-header span {
        font-size: 0.9rem;
    }

    .stats div h2 {
        font-size: 1.2rem;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .mint-button-drop h3,
    .mint-button-2 h3 {
        font-size: 1rem;
    }

    .footerMintDiv p {
        font-size: 0.9rem;
    }

    /* Bilder und Videos */
    .drop-page-imgDiv,
    .drop-page-videoDiv {
        height: auto;
    }

    .drop-page-img,
    .drop-page-video {
        width: 100%;
        height: auto;
    }
}
