.nft-DetailDiv {
    text-align: center;
    margin-top: 35px;
}

.nft-detail img {
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.nft-detail {
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    height: 95%;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
}

.NFT-DetailDiv {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.actionbutton {
    background-color: var(--branding-color);
    font-family: 'Josefin Sans', sans-serif !important;
    border: none;
    color: white;
    padding: 10px 22px;
    font: inherit;
    border-radius: 30px;
    transition: background-color 0.2s ease;
}

.actionbutton:hover {
    background-color: var(--branding-color-hover);
}

.Detail-Div-Cardx {
    background-color: rgb(28,28,30);
    width: fit-content;
    padding: 8px 15px;
    border-radius: 15px;
}

.listinginput {
    padding: 12px 15px;
    background-color: var(--branding-color);
    color: white;
    border: none;
}

.listinginput::placeholder {
    color: white;
}

button:hover{
    cursor: pointer !important;
}

.loading-container {
    text-align: center;
}

.loading-container img{
    height: 100px;
    width: auto;
    margin-top: 150px;
    margin-bottom: 150px;
}

.BottomButtons {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

.PriceDiv {
    display: flex;
    align-items: center;
}

.detailLink a{
    color: var(--branding-color);
}

.detailLink a:hover{
    color: var(--branding-color-hover);
}

.PriceDiv p{
    font-size: 22px;
    font-weight: bold;
}

.PriceDiv img {
    height: 25px;
    width: auto;
    margin-right: 5px;
    
}


.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .fullscreen-image {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
  }


  @media (max-width: 768px) {
    .nft-detail {
        flex-direction: column;
        justify-content: center;
        height: auto;
        align-items: center;
        background-color: black;
        padding: 15px;
        width: 90%;
        border-radius: 10px;
    }

    .MainDetailDivMedia {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .NFT-DetailDiv {
        margin-left: 0px;
    }

    .nft-detail img{
        width: 90%;
        height: auto;
    }

    .NFT-DetailDiv img{
        width: 30px;
        height: 30px;
    }

    .ownership-details {
        margin-top: 12px;
    }

    .Detail-Div-CardA {
        width: 100%;
    }

    .Detail-Div-Cardx {
        width: auto;
    }

    .ownership-detailsinP {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .BottomButtons {
        margin-top: 30px;
    }

    .mediacolumn2 {
        flex-direction: column;
        height: auto;
        margin: 0;
        padding-top: 15px;
        border-radius: 15px;
    }
  }