/* src/styles/SearchBar.css */
.search-bar {
    width: 100%;
    padding: 10px;
    border-radius: 25px;
    background-color: var(--card-background-color);
    box-shadow: var(--card-box-shadow);
    border: none;
    color: var(--text-color);
  }

  @media (max-width: 768px) {
    .search-bar {
      width: 75%;
    }
  }
  