.faucet-container {
    font-family: Arial, sans-serif;
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    max-width: 100%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .faucet-container  h1 {
    text-align: center;
    color: white;
  }
  
  .faucet-container ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 25px;
  }
  
  .faucet-container li {
    margin-bottom: 30px;
    padding: 20px;
    background-color: black;
    height: 110px;
    width: 215px;
    border-radius: 5px;
  }
  
  .faucet-container h2 {
    font-size: 1.2rem;
    color: white;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .faucet-container .icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
  }

  .faucet-container a {
    margin-bottom: 10px;
  }
  
  @media (max-width: 1250px) {
  .gap15media {
    gap: 15px !important;
  }

  .faucet-container li {
    height: auto;
    margin: 0px;
  }

  .faucet-container ul {
    align-items: center;
  }

  .mediacolumn2 {
    flex-direction: column;
  }
  }